/**
 * File login_view.css
 *
 * css to brand the /wp-login.php screen for client
 *
 */
body {
    background:#4ea0d4;
}
.login #backtoblog a:focus, .login #nav a:focus, .login h1 a:focus, .login #backtoblog a, .login #nav a {
    color:white;
}
body.login div#login h1 {
    background:white;
    padding:0.3em;
    margin:0 0 0.4em 0;
    height:99px;
}

body.login div#login h1 a {
    background:white url(images/preload/logo1.png) no-repeat;
    background-size:300px;
    height:95px;
    width:302px;
}